/*

# Includes
!/.dockerignore
!/.github
!/.gitignore
!/action.yml
!/Dockerfile
!/LICENSE
!/index.js
!/node_modules
#!/package.json
!/pnpm-lock.yaml
!/tests
!/README.md
!/CONTRIBUTING.md


# Except
/app/node_modules
